@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

:root {
  /* ### primary */
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  /* ### Neutral */

  --white: hsl(0, 0%, 100%);
  --gray-100: hsl(210, 60%, 98%);
  --gray-200: hsl(211, 68%, 94%);
  --gray-300: hsl(205, 33%, 90%);
  --gray-400: hsl(219, 14%, 63%);
  --gray-500: hsl(219, 12%, 42%);
  --gray-600: hsl(224, 21%, 14%);
}

html {
  font-size: 16px;
}
body {
  background-color: var(--gray-100);
}
@media (max-width: 548px) {
  html {
    font-size: 14px;
  }
}
